:root {
  --color-primary-light: #EA839B;
  --color-primary: #E63B62;
  --color-primary-dark: #661B2C;
  --color-secondary-light: #5EB4DB;
  --color-secondary: #12668E;
  --color-secondary-dark: #0C435C;
  --color-white: #e5e5e5;
  --color-black: #333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  color: var(--color-black);
}

.container {
  width: 80vw;
  margin: 0 10vw;
}

.text-primary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-primary);
}

.btn {
  display: block;
  width: max-content;
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
}
.btn--primary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: all 0.3s;
}
.btn--primary:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.btn--submit {
  color: var(--color-black);
  background-color: #fff;
  transition: all 0.5s;
  border: 1px solid #999;
}
.btn--submit:hover {
  color: #fff;
  background-color: var(--color-black);
}

.margin-sm {
  margin: 1rem;
}

.margin-md {
  margin: 2rem;
}

.margin-lg {
  margin: 4rem;
}

.margin-x-sm {
  margin: 0 1rem;
}

.margin-x-md {
  margin: 0 2rem;
}

.margin-x-lg {
  margin: 0 4rem;
}

.margin-y-sm {
  margin: 1rem 0;
}

.margin-y-md {
  margin: 2rem 0;
}

.margin-y-lg {
  margin: 4rem 0;
}

.padding-sm {
  padding: 0 1rem;
}

.padding-md {
  padding: 0 2rem;
}

.padding-lg {
  padding: 0 4rem;
}

.padding-x-sm {
  padding: 0 1rem;
}

.padding-x-md {
  padding: 0 2rem;
}

.padding-x-lg {
  padding: 0 4rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.nav--logo {
  height: 80%;
}
.nav--link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.nav--link_item {
  color: var(--color-black);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem;
}
.nav--link_item:hover {
  color: var(--color-primary);
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 90vh;
}
.header--title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.header--subtitle {
  font-size: 1rem;
}
.header--wrapper {
  padding: 1rem;
}
.header--hero {
  justify-self: right;
  width: 80%;
}

.carousel--img {
  border-radius: 0.5rem;
  max-width: 100%;
  margin-bottom: 3rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 3rem;
}
.about--img {
  border-radius: 0.5rem;
  width: 100%;
}
.about--detail {
  padding: 2rem 4rem;
}
.about--title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.about--subtitle {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #F2D5DB;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
.newsletter--detail {
  padding: 4rem;
}
.newsletter--detail_title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}
.newsletter--form {
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
.newsletter--form input {
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.newsletter--form textarea {
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.newsletter--form textarea::placeholder {
  font-family: "Open sans", sans-serif;
}

.footer {
  background-color: #eaeaea;
  padding: 4rem 0;
}
.footer--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
.footer--logo {
  width: 60%;
}
.footer--list_head {
  font-size: 2rem;
  font-weight: 600;
}
.footer--list a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
}
.footer--list a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
